/*www.sastewart.net/portfolio/game-design/office-puzzle-maze.html stylesheet*/
.header {
  background-color:gray; /*Gray*/
  padding: 0.25px;
  text-align:left;
  text-decoration: none;
}

.header a {
    color:black;
    text-decoration: none;
	font-size: 25px;
}
body{
	margin: 0px;
	padding: 0px;
	background-color: gray; /*Gray */
	text-align: center;
	list-style-position: inside;
}

h1{
	 color: black;
	 text-align: center;
 }